.boardPlaceholder {
	width: 100%;
	height: 100%;
	border: 2px dashed #c4c4c4;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.placeholderInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	user-select: none;

	svg {
		margin-bottom: 12px;
	}

	h2 {
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		color: #5d5fef;
		margin-bottom: 4px;
		text-align: center;
	}

	span {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: #6b7280;
		max-width: 105px;
	}
}