.switcher {
	background: #f3f4f6;
	border-radius: 6px;
	padding: 1px;
	display: flex;
	position: absolute;
	top: -30px;
	right: 0;
	transform: translateY(-100%);
}

.switchBtn {
	display: flex;
	align-items: center;
	padding: 7px 11px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	font-weight: 500;
	font-size: 14px;
	color: #4d5562;
	border-radius: 5px;
	line-height: 1;

	svg {
		transition: all 0.3s ease;
		stroke: #4d5562;
		margin-right: 8px;
	}
}

.active {
	background-color: #ffffff;
	border-color: #e2e3e5;

	svg {
		stroke: #5d5fef;
	}
}
