@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	font-size: 16px;
}

body {
	font-family: Inter;
}

a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}


a:hover,
a:active,
a:focus {
	text-decoration: none;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

textarea {
	resize: none;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 830px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
}

//scroll
.scroll-wrap::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.scroll-wrap::-webkit-scrollbar-thumb {
	width: 4px;
	background-color: #edeef8;
	border-radius: 10px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.calc-component {
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 4px;
	min-height: 56px;

	&.disabled {
		opacity: 0.4;
	}
}

.no-selection {
	user-select: none;
}