.line {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #5d5fef;
	left: 0;

	&::after,
	&::before {
		position: absolute;
		content: "";
		top: 50%;
		width: 4px;
		height: 4px;
		background-color: #5d5fef;
	}

	&::before {
		left: 0;
		transform: translateY(-48%) translateX(-100%) rotate(45deg);
	}

	&::after {
		right: 0;
		transform: translateY(-48%) translateX(+100%) rotate(45deg);
	}
}
