.btn {
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	// width: 52px;
	width: 100%;
	height: 48px;
	background: #ffffff;
	border: 1px solid #e2e3e5;
	border-radius: 6px;
	gap: 8px;
	position: relative;
	transition: all 0.3s ease;
	cursor: inherit;
}

.active:hover {
	border-color: #5d5fef;
}
