.display {
	display: flex;
	justify-content: flex-end;
	background: #f3f4f6;
	border-radius: 6px;
	font-weight: 800;
	font-size: 36px;
	color: #111827;
	padding: 4px 8px;
	line-height: 1.22222222;
}

.errorMessage {
	font-size: 24px;
	padding: 11.34px 8px;
}