.equals {
	background: #5d5fef;
	border-radius: 6px;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 64px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}